# *****BATTERY LOGGER CONFIG FILE*****
# Copyright (C) 2014 Simon Richard Matthews
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; either version 2 of the License, or
# any later version.
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
# You should have received a copy of the GNU General Public License along
# with this program; if not, write to the Free Software Foundation, Inc.,
# 51 Franklin Street, Fifth Floor, Boston, MA 02110-1301 USA.

[files]
interface = 'from getatod import Raw'
alarms = 'from alarmsnull import Alarms'
# logfile is location and name of file used for logging all data
logfile = '/dev/null'
# summaryfile is location and name of a summary of the data
# errfile is location and name of error log
errfile = 'data/errorlog'
summaryfile = 'summary'
# hoursummaryfile is the location of the hourly summary file
hoursummaryfile = '/dev/null'
# daysummaryfile is the location and name of daily summary file
daysummaryfile = '/dev/null'
# monthsummaryfile is the location and name of monthly summary file
monthsummaryfile = '/dev/null'
# yearsummaryfile is the location and name of yearly summary file
yearsummaryfile = '/dev/null'

[battery]
name = 'My'
numcells = 16
capacity = 180
ahloss = 0.1
vreset = 55.2  # voltage to reset DOD counter
ireset = 9.0  # current to reset DOD counter
ilowcurrent = 7.2 # C/50 lowcurrent voltage logging current

[AtoDs]
atod0 = 'AtoD.ADS1115(address=0x48)'
atod1 = 'AtoD.ADS1115(address=0x49)'
atod2 = 'AtoD.ADS1115(address=0x4A)'
atod3 = 'AtoD.ADS1115(address=0x4B)'
atod4 = 'AtoD.ADS1115(address=0x48, busnum=2)'

[VoltageInputs]
v01 = 'atod0.read_adc(0, gain=2)*0.06250197'
v02 = 'atod0.read_adc(1, gain=2)*0.06250197'
v03 = 'atod0.read_adc(2, gain=2)*0.06250197'
v04 = 'atod0.read_adc(3, gain=2)*0.06250197'
v05 = 'atod1.read_adc(0, gain=2)*0.06250197'
v06 = 'atod1.read_adc(1, gain=2)*0.06250197'
v07 = 'atod1.read_adc(2, gain=2)*0.06250197'
v08 = 'atod1.read_adc(3, gain=2)*0.06250197'
v09 = 'atod2.read_adc(0, gain=2)*0.06250197'
v10 = 'atod2.read_adc(1, gain=2)*0.06250197'
v11 = 'atod2.read_adc(2, gain=2)*0.06250197'
v12 = 'atod2.read_adc(3, gain=2)*0.06250197'
v13 = 'atod3.read_adc(0, gain=2)*0.06250197'
v14 = 'atod3.read_adc(1, gain=2)*0.06250197'
v15 = 'atod3.read_adc(2, gain=2)*0.06250197'
v16 = 'atod3.read_adc(3, gain=2)*0.06250197'

[CurrentInputs]
iin1 = 'atod4.read_adc_difference(0, gain=16)'
iin2 = 'atod4.read_adc_difference(3, gain=16)'
iin3 = 'self.current[0] - self.current[1]'

[sampling]
# sampletime is time between samples in seconds
sampletime = 1.002
# samplesav is number of samples in running average
samplesav = 10

[calibrate]
ibatoffset = 0.0  # 0 offset current in amps
ibatgain = 2.666667 # 200/75 gain to multiply AtoD output in mV to A
iinoffset = 0.0  # 0 offset current in amps
iingain = 2.666667 # 200/75 gain to multiply AtoD output in mV to A
pcurrent = .063  # parasitic current in A not measured (battery monitor power)

batvgain = 27.66667 # resistor divider (2.49kohm+33.2x2kohm)/2.49kohm

delta = [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]

measured =  [0.0, 3.0, 6.0, 9.0, 12.0, 15.0, 18.0, 21.0, 24.0, 27.0, 30.0, 33.0, 36.0, 39.0, 42.0, 45.0, 48.0]
displayed = [0.0, 3.0, 6.0, 9.0, 12.0, 15.0, 18.0, 21.0, 24.0, 27.0, 30.0, 33.0, 36.0, 39.0, 42.0, 45.0, 48.0]

measureddelta =  [ 0.0, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000]
displayeddelta = [ 0.0, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000,  3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000, 3.000]

[alarms]
# each alarm has five attributes, the first is the alarm initialisation code
# if the second attribute test is true the third attribute will be executed
# if the fourth attribute is true the fith attribute will be executed
alarm = ['GPIO.setup("P8_10", GPIO.OUT)', 'test=minvolts<2.8 or maxvolts>3.60', 'GPIO.output("P8_10", GPIO.HIGH)', \
        'test=minvolts>2.9 and maxvolts<3.59', 'GPIO.output("P8_10", GPIO.LOW)']
